@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b;
    /* Fondo oscuro base */
    color: white;
  }
}

@layer components {

  /* Efecto de cristal para las tarjetas */
  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl;
  }

  /* Texto degradado para el título */
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-500;
  }
}

@utility bg-primary {
  background-color: var(--color-blue-600);
}

@utility bg-primary-dark {
  background-color: var(--color-blue-700);
}

@utility text-primary {
  color: var(--color-blue-500);
}

@utility text-accent {
  color: var(--color-purple-500);
}

@utility border-l-primary {
  border-left-color: var(--color-blue-500);
}